.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);


    & > * {
        transform: skewX(12deg);
    }


    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        // using the shape float to make content float around as if it was floating around a circle. Its takes a vectorized shape. the element has to be floated, it has to have a defined height and width
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-2) skewX(12deg);
        position: relative;
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);


    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        // position both horizontally and vertically
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .7s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);


    }

    &:hover &__image {
        transform: translateX(-4rem);
        transition: all .5s ease-out;
        // for brightness, the value above 100% makes it brither and a value lower than 100% makes it darker
        filter: blur(3px) brightness(80%); 
    }


}